---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Private map key&location=chicago,%20il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 18:35:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Private
        map key&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1638619945"}]}]}'
  recorded_at: Tue, 16 Nov 2021 18:35:34 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Private weather key&exclude=minutely&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637087734,"sunrise":1637066511,"sunset":1637101749,"temp":45.46,"feels_like":42.89,"pressure":1018,"humidity":68,"dew_point":35.53,"uvi":1.57,"clouds":75,"visibility":10000,"wind_speed":5.01,"wind_deg":157,"wind_gust":5.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1637085600,"temp":45.34,"feels_like":39.7,"pressure":1018,"humidity":67,"dew_point":35.04,"uvi":1.73,"clouds":79,"visibility":10000,"wind_speed":11.56,"wind_deg":148,"wind_gust":16.11,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1637089200,"temp":45.46,"feels_like":39.7,"pressure":1018,"humidity":68,"dew_point":35.53,"uvi":1.57,"clouds":75,"visibility":10000,"wind_speed":12.01,"wind_deg":144,"wind_gust":16.37,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1637092800,"temp":45.9,"feels_like":39.94,"pressure":1017,"humidity":66,"dew_point":35.2,"uvi":1.04,"clouds":74,"visibility":10000,"wind_speed":13.02,"wind_deg":146,"wind_gust":18.39,"weather":[{"id":80[...]
