---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Private weather key&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636866578,"sunrise":1636810962,"sunset":1636847163,"temp":49.6,"feels_like":49.6,"pressure":1019,"humidity":39,"dew_point":26.42,"uvi":0,"clouds":34,"visibility":10000,"wind_speed":1.01,"wind_deg":315,"wind_gust":3,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1636866000,"temp":49.6,"feels_like":47.77,"pressure":1019,"humidity":39,"dew_point":26.42,"uvi":0,"clouds":34,"visibility":10000,"wind_speed":4.97,"wind_deg":228,"wind_gust":7.16,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1636869600,"temp":49.84,"feels_like":49.84,"pressure":1019,"humidity":38,"dew_point":26.04,"uvi":0,"clouds":36,"visibility":10000,"wind_speed":2.42,"wind_deg":111,"wind_gust":3.47,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1636873200,"temp":48.24,"feels_like":44.46,"pressure":1020,"humidity":43,"dew_point":27.41,"uvi":0,"clouds":28,"visibility":10000,"wind_speed":8.39,"wind_deg":95,"wind_gust":11.1,"weather":[{"id":802,"ma[...]
