---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82-dKp43Rb2JPiAVKSeHmz06wYkdC4"
    body:
      encoding: UTF-8
      string: '{"activity":"Make bread from scratch","type":"cooking","participants":1,"price":0.2,"link":"","key":"4809815","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 17:45:52 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79-jpBvPDLoPbwhn6nUVvAtod3K48o"
    body:
      encoding: UTF-8
      string: '{"activity":"Go stargazing","type":"relaxation","participants":1,"price":0,"link":"","key":"8832605","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:45:54 GMT
recorded_with: VCR 6.0.0
