---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-sfUbW7aUsW1wujXpu8HPUQYI+/4"
    body:
      encoding: UTF-8
      string: '{"activity":"Create a meal plan for the coming week","type":"cooking","participants":1,"price":0,"link":"","key":"3491470","accessibility":0}'
  recorded_at: Tue, 16 Nov 2021 16:44:27 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b0-C8DYF7+R5fyRxja8MMZJ+ho+xyA"
    body:
      encoding: UTF-8
      string: '{"activity":"Sit in the dark and listen to your favorite music with
        no distractions","type":"relaxation","participants":1,"price":0,"link":"","key":"9908721","accessibility":1}'
  recorded_at: Tue, 16 Nov 2021 16:44:31 GMT
recorded_with: VCR 6.0.0
