---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c-hJbVzStfklbhsyjLt7MIdSiCvhU"
    body:
      encoding: UTF-8
      string: '{"activity":"Organize a bookshelf","type":"busywork","participants":1,"price":0,"link":"","key":"6098037","accessibility":0}'
  recorded_at: Tue, 16 Nov 2021 16:45:21 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71-jm9Gjhho3eI9rd4kCp2sekw1VE0"
    body:
      encoding: UTF-8
      string: '{"activity":"Color","type":"relaxation","participants":1,"price":0.1,"link":"","key":"5322987","accessibility":0}'
  recorded_at: Tue, 16 Nov 2021 16:45:24 GMT
recorded_with: VCR 6.0.0
