---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82-dKp43Rb2JPiAVKSeHmz06wYkdC4"
    body:
      encoding: UTF-8
      string: '{"activity":"Make bread from scratch","type":"cooking","participants":1,"price":0.2,"link":"","key":"4809815","accessibility":0.2}'
  recorded_at: Tue, 16 Nov 2021 16:28:45 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-o1nHW9IIbdYAQ40ifimKzrSNwMA"
    body:
      encoding: UTF-8
      string: '{"activity":"Do something you used to do as a kid","type":"relaxation","participants":1,"price":0.1,"link":"","key":"8827573","accessibility":0.8}'
  recorded_at: Tue, 16 Nov 2021 16:28:47 GMT
recorded_with: VCR 6.0.0
