---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85-7K+MG7kD++BMx/bdGWifpY/+SLQ"
    body:
      encoding: UTF-8
      string: '{"activity":"Visit a nearby museum","type":"recreational","participants":1,"price":0.2,"link":"","key":"5490351","accessibility":0.7}'
  recorded_at: Tue, 16 Nov 2021 16:45:27 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97-CsGa20MxrZT4byYDsl3YkQoOfcQ"
    body:
      encoding: UTF-8
      string: '{"activity":"Shop at support your local farmers market","type":"relaxation","participants":1,"price":0.2,"link":"","key":"8979931","accessibility":0.1}'
  recorded_at: Tue, 16 Nov 2021 16:45:28 GMT
recorded_with: VCR 6.0.0
