---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80-1fmB+ULWB/HhPc7HFw1K2brndQ0"
    body:
      encoding: UTF-8
      string: '{"activity":"Go to a nail salon","type":"relaxation","participants":1,"price":0.4,"link":"","key":"7526324","accessibility":0.5}'
  recorded_at: Tue, 16 Nov 2021 16:29:04 GMT
recorded_with: VCR 6.0.0
