---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98-8+LAhZ6uX6bj9Q8cf+o37fiegDE"
    body:
      encoding: UTF-8
      string: '{"activity":"Give your pet ten minutes of focused attention","type":"relaxation","participants":1,"price":0,"link":"","key":"9937387","accessibility":0}'
  recorded_at: Tue, 16 Nov 2021 02:51:12 GMT
recorded_with: VCR 6.0.0
