---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97-CsGa20MxrZT4byYDsl3YkQoOfcQ"
    body:
      encoding: UTF-8
      string: '{"activity":"Shop at support your local farmers market","type":"relaxation","participants":1,"price":0.2,"link":"","key":"8979931","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:42:14 GMT
recorded_with: VCR 6.0.0
