---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Private weather key&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1637005837,"sunrise":1636983900,"sunset":1637019867,"temp":68.81,"feels_like":66.09,"pressure":1014,"humidity":15,"dew_point":20.75,"uvi":1.88,"clouds":93,"visibility":10000,"wind_speed":1.01,"wind_deg":355,"wind_gust":4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1637002800,"temp":68.65,"feels_like":65.97,"pressure":1014,"humidity":16,"dew_point":21.97,"uvi":2.11,"clouds":92,"visibility":10000,"wind_speed":2.64,"wind_deg":227,"wind_gust":6.69,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1637006400,"temp":68.81,"feels_like":66.09,"pressure":1014,"humidity":15,"dew_point":20.75,"uvi":1.88,"clouds":93,"visibility":10000,"wind_speed":2.17,"wind_deg":225,"wind_gust":6.26,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1637010000,"temp":68.61,"feels_like":65.93,"pressure":1014,"humidity":16,"dew_point":21.96,"uvi":1.29,"clouds":93,"visibility":10000,"wind_speed":2.44,"wind_deg":188,"wind_gust":3.36,"weather":[{"id":8[...]
