---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87-hsxLgcK2hy3Uoj6B8IUqnKqF1fc"
    body:
      encoding: UTF-8
      string: '{"activity":"Bake a pie with some friends","type":"cooking","participants":3,"price":0.3,"link":"","key":"3141592","accessibility":0.3}'
  recorded_at: Mon, 15 Nov 2021 17:29:48 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81-CRSvdYzNLdBSTRSB4vD92JfbcpE"
    body:
      encoding: UTF-8
      string: '{"activity":"Take a bubble bath","type":"relaxation","participants":1,"price":0.15,"link":"","key":"2581372","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:29:50 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Private weather key&exclude=minutely&lat=41.8781&lon=87.6298&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8781,"lon":87.6298,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1636997390,"sunrise":1637024411,"sunset":1637059711,"temp":33.08,"feels_like":33.08,"pressure":1026,"humidity":43,"dew_point":15.12,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.77,"wind_deg":20,"wind_gust":2.64,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1636995600,"temp":33.08,"feels_like":33.08,"pressure":1026,"humidity":43,"dew_point":15.12,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.77,"wind_deg":20,"wind_gust":2.64,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1636999200,"temp":33.48,"feels_like":30.78,"pressure":1026,"humidity":44,"dew_point":15.91,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.15,"wind_deg":348,"wind_gust":3.51,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1637002800,"temp":33.17,"feels_like":33.17,"pressure":1026,"humidity":45,"dew_point":16.12,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":1.74,"wind_deg":321,"wind_gust":2.53,"weather":[{"id":804,"m[...]
