---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-sfUbW7aUsW1wujXpu8HPUQYI+/4"
    body:
      encoding: UTF-8
      string: '{"activity":"Create a meal plan for the coming week","type":"cooking","participants":1,"price":0,"link":"","key":"3491470","accessibility":0}'
  recorded_at: Tue, 16 Nov 2021 16:28:58 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74-uQqm6fN+IBjOgMC7RKyhjP+Q+fo"
    body:
      encoding: UTF-8
      string: '{"activity":"Take a nap","type":"relaxation","participants":1,"price":0,"link":"","key":"6184514","accessibility":0}'
  recorded_at: Tue, 16 Nov 2021 16:29:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Private weather key&exclude=minutely&lat=41.8781&lon=87.6298&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8781,"lon":87.6298,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1637080140,"sunrise":1637110885,"sunset":1637146062,"temp":32.86,"feels_like":32.86,"pressure":1023,"humidity":50,"dew_point":18.03,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":1.32,"wind_deg":19,"wind_gust":2.19,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1637078400,"temp":32.86,"feels_like":32.86,"pressure":1023,"humidity":50,"dew_point":18.03,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":1.32,"wind_deg":19,"wind_gust":2.19,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1637082000,"temp":32.77,"feels_like":32.77,"pressure":1023,"humidity":50,"dew_point":17.96,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":2.3,"wind_deg":337,"wind_gust":2.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1637085600,"temp":32.63,"feels_like":29.79,"pressure":1023,"humidity":50,"dew_point":17.83,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":3.18,"wind_deg":334,"wind_gust":3.44,"weather":[{"id":800,"main":"Clear[...]
