---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=snkQv3pIvgDT92ZdJt75t2O4iBAyKRZDaq_O2AFQ2YY&query=denver,co%20cityscape
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=snkQv3pIvgDT92ZdJt75t2O4iBAyKRZDaq_O2AFQ2YY&page=1000&query=denver%2Cco+cityscape>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=snkQv3pIvgDT92ZdJt75t2O4iBAyKRZDaq_O2AFQ2YY&page=2&query=denver%2Cco+cityscape>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Etag:
      - W/"54cc7e3afcadbb3c45a3a41ddf6b1dc7"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":1000,"results":[{"id":"Xa4phf71fOU","created_at":"2021-08-18T10:47:30-04:00","updated_at":"2021-11-14T21:29:38-05:00","promoted_at":null,"width":4240,"height":2832,"color":"#262626","blur_hash":"L57d%tDg4:%gETMc-;XAK8si%MMy","description":null,"alt_description":"cars
        on road in city during night time","urls":{"raw":"https://images.unsplash.com/photo-1629297951902-896698a7e147?ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyMGNpdHlzY2FwZXxlbnwwfHx8fDE2MzcwMDU1Nzc\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1629297951902-896698a7e147?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyMGNpdHlzY2FwZXxlbnwwfHx8fDE2MzcwMDU1Nzc\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1629297951902-896698a7e147?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyMGNpdHlzY2FwZXxlbnwwfHx8fDE2MzcwMDU1Nzc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1629297951902-896698a7e147?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyMGNpdHlzY2FwZXxlbnwwfHx8fDE2MzcwMDU1Nzc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1629297951902-896698a7e147?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyMGNpdHlzY2FwZXxlbnwwfHx8fDE2MzcwMDU1Nzc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/Xa4phf71fOU","html":"https://unsplash.com/photos/Xa4phf71fOU","download":"https://unsplash.com/photos/Xa4phf71fOU/download?ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyMGNpdHlzY2FwZXxlbnwwfHx8fDE2MzcwMDU1Nzc","download_location":"https://api.unsplash.com/photos/Xa4phf71fOU/download?ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyMGNpdHlzY2FwZXxlbnwwfHx8fDE2MzcwMDU1Nzc"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"plx1zgl86Bc","updated_at":"2021-11-15T12:12:22-05:00","username":"joshhild","name":"Josh
        Hild","first_name":"Josh","last_name":"Hild","twitter_username":null,"portfolio_url":"https://www.instagram.com/joshhild","bio":"Any
        donations are appreciated! PayPal\r\nJoshhild.com","location":"Minneapolis","links":{"self":"https://api.unsplash.com/users/joshhild","html":"https://unsplash.com/@joshhild","photos":"https://api.unsplash.com/users/joshhild/photos","likes":"https://api.unsplash.com/users/joshhild/likes","portfolio":"https://api.unsplash.com/users/joshhild/portfolio","following":"https://api.unsplash.com/users/joshhild/following","followers":"https://api.unsplash.com/users/joshhild/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1534444770498-421ec361dce5?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1534444770498-421ec361dce5?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1534444770498-421ec361dce5?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"joshhild","total_collections":0,"total_likes":7,"total_photos":419,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"joshhild","portfolio_url":"https://www.instagram.com/joshhild","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]},{"id":"L84WSnEKiDo","created_at":"2021-03-24T22:02:03-04:00","updated_at":"2021-11-14T15:24:51-05:00","promoted_at":null,"width":3712,"height":4900,"color":"#260c0c","blur_hash":"LKAR[1oG0^NfxGsqNYNZ5hWV=$oJ","description":"Neon
        sign in Denver, CO.","alt_description":"blue and red ferris wheel","urls":{"raw":"https://images.unsplash.com/photo-1616637537998-cdec2d57e30d?ixid=MnwyNzU1ODJ8MHwxfHNlYXJjaHwyfHxkZW52ZXIl[...]
